<div id="navbar">
    <ul>
        <li><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="home">Home</a></li>
        <li *ngIf="isadmin"><a routerLinkActive="active" routerLink="admin/add">Add Question</a></li>
        <li *ngIf="!loggedin"><a routerLinkActive="active" routerLink="login">Login</a></li>
        <li *ngIf="!loggedin"><a routerLinkActive="active" routerLink="register">Register</a></li>
        <li *ngIf="loggedin" style="float:right"><a routerLinkActive="active" (click)="logout()">Logout</a></li>
        <li *ngIf="loggedin" style="float:right"><a>Hello, {{uname}}</a></li>
    </ul>
</div>

<router-outlet></router-outlet>