div#res-cont {
    width: 80%;
    margin: 10px 10%;
}

ul {
    list-style-type: none;
    width: 80%;
}

div.result {
    border-bottom: dotted 1px rgb(41, 41, 41);
}

ul li.correct {
    background-color: rgba(4, 170, 109, 0.5);
}