div#box-cont {
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

div.box {
    padding: 5px;
    border: solid 1px rgb(41, 41, 41);
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

div.box h1, div.box h3, div.box p, div.box a {
    margin: 0;
    text-align: center;
    word-break: break-word;
}

a {
    cursor: pointer;
    font-weight: bolder;
    color: #04AA6D;
    text-decoration: none;
}